Source: wpilib-cpp-plugin-files
Section: devel
Priority: optional
Maintainer: Connor Worley <connorbworley@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/Team5499/wpilib-cpp-plugin-files
Vcs-Git: https://github.com/Team5499/wpilib-cpp-plugin-files
Vcs-Browser: https://github.com/Team5499/wpilib-cpp-plugin-files

Package: wpilib-cpp-plugin-files
Architecture: all
Depends: ${misc:Depends}
Description: wpilib-cpp-plugin-files
 wpilib-cpp-plugin-files
